<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>College Blog | Userpage</title>
    <link rel="stylesheet" href="static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abhaya+Libre&amp;display=swap">
    <link rel="stylesheet" href="static/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="static/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="static/assets/css/card-3-column-animation-shadows-images.css">
    <link rel="stylesheet" href="static/assets/css/dh-card-image-left-dark.css">
    <link rel="stylesheet" href="static/assets/css/dh-row-titile-text-image-right-1.css">
    <link rel="stylesheet" href="static/assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="static/assets/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="static/assets/css/Responsive-footer-1.css">
    <link rel="stylesheet" href="static/assets/css/Responsive-footer.css">
    <link rel="stylesheet" href="static/assets/css/styles.css">
</head>

<body class="justify-content-around align-items-center align-content-center" style="background: rgb(204,201,201);filter: brightness(92%);border-color: rgb(195,210,225);">
    <section>
        <nav class="navbar navbar-light navbar-expand-md navigation-clean-button" data-aos="flip-up">
            <div class="container"><a class="navbar-brand text-monospace d-inline-flex d-xl-flex flex-row flex-grow-1 flex-shrink-1 align-items-start align-content-start align-self-start my-auto justify-content-xl-start flash animated" href="/homepage" style="font-family: 'Abhaya Libre', serif;">College Blog&nbsp;</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item"><a class="nav-link" href="/homepage">Home</a></li>
                        {% if session['email'] %}
                        <li class="nav-item"><a class="nav-link" href="/newblog">Add Blog</a></li>
                        <li class="nav-item"><a class="nav-link active" href="{{url_for('userblog')}}">My Blogs</a></li>
                        {% endif %}
                        <!--<li class="nav-item dropdown">
                            <a class="dropdown-toggle nav-link" aria-expanded="false" data-toggle="dropdown" href="#">Categories&nbsp;</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Tech</a>
                                <a class="dropdown-item" href="#">Economy</a>
                                <a class="dropdown-item" href="#">Lifestyle</a></div>
                        </li>-->
                    </ul>
                    {% if session['email'] %}
                    <span class="navbar-text actions active"> <a class="login" href="">{{session['username']}}</a><a class="btn btn-light action-button" role="button" href="/logout" style="background: rgb(68,79,79);">Log Out</a></span>
                    {% else %}
                    <span class="navbar-text actions"> <a class="login" href="/loginpage">Log In</a><a class="btn btn-light action-button" role="button" href="/registerpage" style="background: rgb(68,79,79);">Sign Up</a></span>
                    {% endif %}
                </div>
            </div>
        </nav>
    </section><br><br><br>
    <center>
        <h1>{{session['username']}} Blogs</h1>
    </center>
    <section>
        <div class="container">
            <div class="row">
                <div class="col">
                    <section>
                        <div class="container">
                            <div class="row">
                                {% for data in blog %}
                                <div class="col-auto col-sm-12 col-md-12 col-lg-4 col-xl-4" style="padding-top: 15px;padding-bottom: 15px;padding-right: 15px;padding-left: 15px;">
                                    <div class="bg-light border rounded shadow card" data-bss-hover-animate="pulse"><img class="card-img-top" src="static/assets/img/law-document.jpeg">
                                        <div class="card-body">
                                            <h3 class="card-title" style="font-family: Antic, sans-serif;color: rgb(81,87,94);">{{data.title}}</h3>&nbsp;</h3>
                                            <h5 class="card-sub-title" style="font-family: Antic, sans-serif;color: #38ae53;">{{data.author}}</h5>
                                            <p class="card-text" style="font-family: Antic, sans-serif;color: rgb(81,87,94);"></p><p id="lorem"> {{data.smalldesc}}</p>
                                            <button onclick="" class="btn btn-outline-success" type="button" style="font-weight: normal;font-family: Antic, sans-serif;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none">
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M4 5.5H9C10.1046 5.5 11 6.39543 11 7.5V16.5C11 17.0523 10.5523 17.5 10 17.5H4C3.44772 17.5 3 17.0523 3 16.5V6.5C3 5.94772 3.44772 5.5 4 5.5ZM14 19.5C13.6494 19.5 13.3128 19.4398 13 19.3293V19.5C13 20.0523 12.5523 20.5 12 20.5C11.4477 20.5 11 20.0523 11 19.5V19.3293C10.6872 19.4398 10.3506 19.5 10 19.5H4C2.34315 19.5 1 18.1569 1 16.5V6.5C1 4.84315 2.34315 3.5 4 3.5H9C10.1947 3.5 11.2671 4.02376 12 4.85418C12.7329 4.02376 13.8053 3.5 15 3.5H20C21.6569 3.5 23 4.84315 23 6.5V16.5C23 18.1569 21.6569 19.5 20 19.5H14ZM13 7.5V16.5C13 17.0523 13.4477 17.5 14 17.5H20C20.5523 17.5 21 17.0523 21 16.5V6.5C21 5.94772 20.5523 5.5 20 5.5H15C13.8954 5.5 13 6.39543 13 7.5ZM5 7.5H9V9.5H5V7.5ZM15 7.5H19V9.5H15V7.5ZM19 10.5H15V12.5H19V10.5ZM5 10.5H9V12.5H5V10.5ZM19 13.5H15V15.5H19V13.5ZM5 13.5H9V15.5H5V13.5Z" fill="currentColor"></path>
                                                </svg>&nbsp;<a href="{{url_for('viewblog', myvar=data._id)}}" style="text-decoration:none;"> Read More</a></button>
                                            <button onclick="" class="btn btn-outline-success" type="button" style="font-weight: normal;font-family: Antic, sans-serif;">&nbsp;<a href="{{url_for('editblog', myvar=data._id)}}" style="text-decoration:none;"> Edit</a></button>
                                            <button onclick="" class="btn btn-outline-success" type="button" style="font-weight: normal;font-family: Antic, sans-serif;">&nbsp;<a href="{{url_for('deleteblog', myvar=data._id)}}" style="text-decoration:none;"> Delete</a></button>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <center>
        
    </section>
    <section>
        <footer class="footer-dark">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Services</h3>
                        <ul>
                            <li><a href="#">_______</a></li>
                            <li><a href="#">--------</a></li>
                            <li><a href="#">######</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>About</h3>
                        <ul>
                            <li><a href="#">(()()()()</a></li>
                            <li><a href="#">21651651</a></li>
                            <li><a href="#">-5159811</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>Company Name</h3>
                        <p>Add a class of&nbsp;fa-fw&nbsp;on the HTML element referencing your icon to set one or more icons to the same fixed width. This is great to use when varying icon widths&nbsp;<br></p>
                    </div>
                    <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-wordpress-outline"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
                </div>
                <p class="copyright">KJC_College Blog © 2021</p>
            </div>
        </footer>
    </section>
    <script src="static/assets/js/jquery.min.js"></script>
    <script src="static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
</body>

</html>